[Unit]
Description=daphne daemon

[Service]
User=root
Group=root
WorkingDirectory=/srv/project-omok/app/

Environment="DJANGO_SETTINGS_MODULE=config.settings"
ExecStart=/root/Env/24bot/bin/daphne -e ssl:8443:privateKey=/etc/letsencrypt/live/hyegg.xyz/privkey.pem:certKey=/etc/letsencrypt/live/hyegg.xyz/cert.pem --verbosity 0 --access-log /var/log/daphne/daphne.log config.asgi:application

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-abort
PrivateTmp=true

[Install]
WantedBy=multi-user.target